/* 
    Created on : Dec. 14, 2020, 12:35:23 p.m.
    Author     : glenn

    -fx-prompt-text-fill: -fx-prompt-text;   // sets the prompt test to the blue-gray
    -jfx-focus-color:     -fx-primary-text;  // sets the minimized prompt text to yellow on focus

*/


* {
    -fx-primary-fill :   #263238;    /* black-gray "900":  background  */
    -fx-primary-text :   #FFFF8D;    /* yellow: button trim, input text, focused label */
    -fx-secondary-text : #B2B2B2;    /* white:  button text */
    -fx-prompt-text:     #B0BEC5;    /* blue-gray: prompt text */
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1:#1976D2;
}

.root{
    -fx-background-color: -fx-primary-fill;
}

.button{
    -fx-text-fill: -fx-secondary-text;
    -fx-background-color: -fx-primary-fill;
    -fx-border-color: -fx-primary-text;
    -fx-border-radius: 20px;
    -fx-border-style: dotted;
    -fx-background-radius: 20px;
    -fx-font-size: 10pt;
}

.button:hover {
    -fx-border-color: -fx-primary-text;
    -fx-background-color: -fx-primary-text;
    -fx-text-fill: -fx-primary-fill;
}

.button:focused {
    -fx-border-style: solid;
}

.jfx-button{
    -jfx-disable-visual-focus: true;
}



.text-field
{
    -fx-text-fill: -fx-secondary-text;
    -fx-font-size : 10pt;
    -jfx-focus-color: -fx-primary-text;
    -fx-text-fill: derive(-fx-primary-text, 20%);
    -fx-prompt-text-fill: -fx-prompt-text;
}

.jfx-text-field .error-label, .jfx-password-field .error-label, .jfx-text-area .error-label {
    -fx-text-fill: #D34336;
    -fx-font-size: 0.75em;
}

.text-field:error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}

.label
{
    -fx-text-fill: -fx-secondary-text;
}

/*
 ************
 * TOGGLE
 ************
*/

.jfx-toggle-button {
    -fx-text-fill: -fx-prompt-text;

}


/*
 ************
 * TAB
 ************
*/

/* Gets rid of the gap between the tab header and the tab pane */
.tab {
    -fx-background-insets: 0 1 0 1,0,0;
}

/* Sets the background colour of the tab bar */
.tab-pane .tab-header-background {
    -fx-background-color: #37474F;
}

/* Change the colour of the selected tab header background (match pane background)*/
.tab-pane .tab {
    -fx-background-color: #37474F;
}
.tab-pane .tab:selected {
    -fx-background-color: -fx-primary-fill;
}

/* Change the colour of the tab header text of the selected tab */
.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-prompt-text;
}
.tab:selected .tab-label { 
    -fx-text-fill: -fx-primary-text;
}

/* Get rid of leading gap before tabs */
.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.416667em 0.166667em 0.0em 0.0em; /* overridden as 5 2 0 0 */
}


/*
 ************
 * COMBOBOX
 ************
*/
.combo-box {
    -fx-prompt-text-fill: -fx-prompt-text;
    -jfx-focus-color: -fx-primary-text;
}

/* set the colour of the items in selected cell and drop down cells */
.combo-box .list-cell{
    -fx-text-fill: -fx-primary-text;
}

.combo-box-popup .list-view .jfx-list-cell{
    -fx-background-color: #455A64;    
}


/*
 ************
 * Mortgage Schedule Table
 ************
*/
/*#scheduleTable .table-column {
  -fx-alignment: CENTER-LEFT;
}*/

.moneyColumn {
  -fx-alignment: CENTER-RIGHT;
}



/*
  This sets the colour of the items in the drop down list
.combo-box .list-view .list-cell{
    -fx-text-fill: orange;
}
*/

/*
.combo-box-popup .list-view .jfx-list-cell .label,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .label {
    -fx-text-fill: BLACK;
}

.combo-box-popup .list-view .jfx-list-cell .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:filled:hover .custom-jfx-list-view-icon,
.combo-box-popup .list-view .jfx-list-cell:selected .custom-jfx-list-view-icon {
    -fx-fill: #5264AE;
}

.combo-box-popup .list-view .jfx-list-cell:odd:selected > .jfx-rippler > StackPane,
.combo-box-popup .list-view .jfx-list-cell:even:selected > .jfx-rippler > StackPane {
    -fx-background-color: rgba(0.0, 0.0, 255.0, 0.2);
}

.combo-box-popup .list-view .jfx-list-cell {
    -fx-background-insets: 0.0;
}

.combo-box-popup .list-view .jfx-list-cell:odd,
.combo-box-popup .list-view .jfx-list-cell:even {
    -fx-background-color: WHITE;
}

.combo-box-popup .list-view .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}
*/


.spinner:error {
  -fx-text-box-border: red ;
  -fx-focus-color: red ;
}
